body {
    background-image: url("/static/images/illustration/image.gif");
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

#img1 {
    position: absolute;
    top: 40px;
    right: 200px;
}

#title {
    font-size: 35px;
    font-weight: 90px;
    margin-top:40px;
}

#desc {
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
}

#signIn {
    font-size: 20px;
    font-weight: 200;
    margin-left: 650px;
    margin-top: 450px;
    width: 200px;
    height:50px;
}

#customerNew {
    font-size: 20px;
    font-weight: 100;
    margin-left: 640px;
}