	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add:before { content: "\f100"; }
.flaticon-add-text:before { content: "\f101"; }
.flaticon-add-user:before { content: "\f102"; }
.flaticon-airplay:before { content: "\f103"; }
.flaticon-attachment:before { content: "\f104"; }
.flaticon-audio:before { content: "\f105"; }
.flaticon-battery:before { content: "\f106"; }
.flaticon-bluetooth:before { content: "\f107"; }
.flaticon-brightness:before { content: "\f108"; }
.flaticon-cancel:before { content: "\f109"; }
.flaticon-check:before { content: "\f10a"; }
.flaticon-chronometer:before { content: "\f10b"; }
.flaticon-clock:before { content: "\f10c"; }
.flaticon-compass:before { content: "\f10d"; }
.flaticon-contrast:before { content: "\f10e"; }
.flaticon-delete:before { content: "\f10f"; }
.flaticon-delete-1:before { content: "\f110"; }
.flaticon-delete-text:before { content: "\f111"; }
.flaticon-edit:before { content: "\f112"; }
.flaticon-email:before { content: "\f113"; }
.flaticon-favorite:before { content: "\f114"; }
.flaticon-file:before { content: "\f115"; }
.flaticon-filters:before { content: "\f116"; }
.flaticon-headphones:before { content: "\f117"; }
.flaticon-inbox:before { content: "\f118"; }
.flaticon-inbox-1:before { content: "\f119"; }
.flaticon-like:before { content: "\f11a"; }
.flaticon-map-pin:before { content: "\f11b"; }
.flaticon-movie:before { content: "\f11c"; }
.flaticon-no-chrono:before { content: "\f11d"; }
.flaticon-notification:before { content: "\f11e"; }
.flaticon-pad-numbers:before { content: "\f11f"; }
.flaticon-padlock:before { content: "\f120"; }
.flaticon-pencil:before { content: "\f121"; }
.flaticon-photo-camera:before { content: "\f122"; }
.flaticon-photograph:before { content: "\f123"; }
.flaticon-presentation:before { content: "\f124"; }
.flaticon-purchases:before { content: "\f125"; }
.flaticon-quaver:before { content: "\f126"; }
.flaticon-reverse-camera:before { content: "\f127"; }
.flaticon-search:before { content: "\f128"; }
.flaticon-sleep-mode:before { content: "\f129"; }
.flaticon-time:before { content: "\f12a"; }
.flaticon-timer:before { content: "\f12b"; }
.flaticon-torch:before { content: "\f12c"; }
.flaticon-triangle:before { content: "\f12d"; }
.flaticon-user:before { content: "\f12e"; }
.flaticon-video:before { content: "\f12f"; }
.flaticon-wifi:before { content: "\f130"; }
.flaticon-wifi-settings:before { content: "\f131"; }