body {
    background-color:#ffefcc;
}

.main {
    margin-top:80px;
    margin-left:370px;
}

input[type=text]{
    background-color:#FCF3CF ;
    width:50%;
    border-radius: 5px 0 0 5px;
    padding:12px;
}

input[type = submit] {
    background: linear-gradient(#B1FAA0 , #1B6E08 );
    position:absolute;
    padding:12px;
    width:8%;
    border-radius: 5px 0 0 5px;
    font-size:17px;
    text-align:center;
    cursor:pointer;
}